
*.csv
files/*.csv
files\*.csv
Corp_Favor_TSR.ipynb
.ipynb_checkpoints/Corp_Favor_TSR_re-checkpoint.ipynb
test_data_cleaning.ipynb
.ipynb_checkpoints/test_data_cleaning-checkpoint.ipynb
.ipynb_checkpoints/Retail_Sales_Price_Prediction_submission_-_Corporation_Favorita-checkpoint.ipynb
.ipynb_checkpoints/Retail_Sales_Price_Prediction_v2_-_Corporation_Favorita-checkpoint.ipynb
